.img {
    position: relative;
    right: 400px;
    top: -370px;
}

.imgDetails {
    text-align: left;
    position: relative;
    left: 610px;
    top: 80px;
}

#list {
    padding: 30px;
}

.tag {
    position: relative;
    top: 20px
}

#home {
    position: absolute;
    top: 5%;
    left: 10%;
}

#t{
  padding: 15px
}
#tagsBtn{
    width: 100px;
}